{% load static from staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <meta charset="utf-8">
    <title>厄運地圖</title>
    <link rel="stylesheet" href="{% static 'mapStyle.css'%}">
    <meta name="viewport" content="initial-scale=1.0">
  </head>


  <body>
    <div class="side-bar">
      <a id="search-bar" onclick="searchFunction()">查詢地點</a>
      <button class="dropdown-btn">篩選
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <label id="h-container" style="color:white;">凶宅
          <input type="checkbox" checked="checked" id="houseCheck" onclick="houseCheckbox()">
        </label>
        <label id="traf-container">交通事故
          <input type="checkbox" id="trafficCheck" onclick="trafficCheckbox()">
        </label>
        <label id="ty-container">颱風災情
          <input type="checkbox" id="typhoonCheck">
        </label>
      </div>
      <a href="#contact">Contact</a>
    </div>
    <div class="search-box">
      <form>
        請輸入地址：<input type="text" style="padding:3px;" size="50" id="inputAddress">
        <button type="button" onclick="startSearching()">搜尋</button>
      </form>
    </div>
    <script>
    //側邊欄展開或收起
    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;
    for (i = 0; i < dropdown.length; i++) {
      dropdown[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var dropdownContent = this.nextElementSibling;
        if (dropdownContent.style.display === "block") {
          dropdownContent.style.display = "none";
        } else {
          dropdownContent.style.display = "block";
        }
      });
    }

    //開關地圖上的凶宅標記
    function houseCheckbox(){
      var checkBox = document.getElementById("houseCheck");
      if (checkBox.checked == true){
        document.getElementById("h-container").style.color= 'white';
        setMapOnAll(map,0);
      } else {
        document.getElementById("h-container").style.color= '#818181';
        setMapOnAll(null,0);
      }
    }

    //開關地圖上的交通事故標記
    function trafficCheckbox(){
      var checkBox = document.getElementById("trafficCheck");
      if (checkBox.checked == true){
        document.getElementById("traf-container").style.color= 'white';
        setMapOnAll(map,1);
      } else {
        document.getElementById("traf-container").style.color= '#818181';
        setMapOnAll(null,1);
      }
    }

    //Sets the map on all markers in the array
    //放上或清除地圖上的標記
    function setMapOnAll(map,num) {
      //凶宅
      if(num==0){
        for (var i = 0; i < markersHouse.length; i++)
          markersHouse[i].setMap(map);
      }
      //交通事故
      else if(num==1) {
        for (var i = 0; i < markersTraffic.length; i++)
          markersTraffic[i].setMap(map);
      }
    }

    //彈出或收起地址搜尋框
    var search_check = 0;
    function searchFunction(){
      var searchBar = document.getElementById("search-bar");
      var searchBox = document.getElementsByClassName("search-box");
      if(search_check==0){
        searchBar.style.color = "white";
        searchBar.style.background = "green";
        searchBox[0].style.display = "block";
        search_check=1;
      }else if (search_check==1) {
        searchBar.style.color = "#818181";
        searchBar.style.background = "#111";
        searchBox[0].style.display = "none";
        search_check=0;
      }
    }

    //開始搜尋地址
    var old_address_marker=null;
    function startSearching(){
      //抓取搜尋欄的地址，放上地標
      var address = document.getElementById('inputAddress').value;
      geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == 'OK') {
        map.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
        });
        //去除上次搜尋的地標
        if(old_address_marker!=null)
          old_address_marker.setMap(null);
        old_address_marker = marker;
      } else {
        alert('找不到這個地點，請重新輸入地址。');
      }
    });
    }
    </script>



    <div id="map"></div>
    <script>
    //獲得資料庫中資訊，根據地址在地圖上
      $(document).ready(function(){
        //凶宅
        var endpoint = '/map/api/house/';
        $.ajax({
          method:'GET',
          url:endpoint,
          success:function(data){
            for(var i = 0;i<data.length;i++){
              console.log(data[i].address);
              codeAddress(geocoder, map, data[i], 0);
            }
          },
          error:function(error_data){
            console.log("error");
            console.log(error_data);
          }
        })

        //交通事故
        var endpoint_traf = '/map/api/traffic/';
        $.ajax({
          method:'GET',
          url:endpoint_traf,
          success:function(data_traf){
            for(var i = 0;i<data_traf.length;i++){
              console.log(data_traf[i].address);
              codeAddress(geocoder, map, data_traf[i], 1);
            }
          },
          error:function(error_data){
            console.log("error");
            console.log(error_data);
          }
        })
      })
    </script>

    <script>
      var map;
      var geocoder;
      var markersHouse = [];
      var markersTraffic = [];
      var markersTyphoon = [];

      //設定地圖初始位置
      function initMap() {
        var styledMapType = new google.maps.StyledMapType(
          [
            {
                "featureType": "all",
                "elementType": "all",
                "stylers": [
                    {
                        "invert_lightness": true
                    },
                    {
                        "saturation": 20
                    },
                    {
                        "lightness": 50
                    },
                    {
                        "gamma": 0.4
                    },
                    {
                        "hue": "#00ffee"
                    }
                ]
            },
            {
                "featureType": "all",
                "elementType": "geometry",
                "stylers": [
                    {
                        "visibility": "simplified"
                    }
                ]
            },
            {
                "featureType": "all",
                "elementType": "labels",
                "stylers": [
                    {
                        "visibility": "on"
                    }
                ]
            },
            {
                "featureType": "administrative",
                "elementType": "all",
                "stylers": [
                    {
                        "color": "#ffffff"
                    },
                    {
                        "visibility": "simplified"
                    }
                ]
            },
            {
                "featureType": "administrative.land_parcel",
                "elementType": "geometry.stroke",
                "stylers": [
                    {
                        "visibility": "simplified"
                    }
                ]
            },
            {
                "featureType": "landscape",
                "elementType": "all",
                "stylers": [
                    {
                        "color": "#405769"
                    }
                ]
            },
            {
                "featureType": "water",
                "elementType": "geometry.fill",
                "stylers": [
                    {
                        "color": "#232f3a"
                    }
                ]
            }
          ],
            {name:'黑暗模式'});
        geocoder = new google.maps.Geocoder();
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 24.135, lng: 120.65},
          zoom: 11,
          mapTypeControl: false,
          fullscreenControl: false
        });
        map.mapTypes.set('黑暗模式', styledMapType);
        map.setMapTypeId('黑暗模式');
      }

      //用geocoder把地址轉換成經緯度，在地圖上標記出來
      function codeAddress(geocoder, map, location, num) {
        geocoder.geocode({'address': location.address}, function(results, status) {
          if (status === 'OK') {
            var check = -1;
            map.setCenter(results[0].geometry.location);

            //凶宅執行區塊
            if(num==0){
              var marker = new google.maps.Marker({
                map: map,
                position: results[0].geometry.location,
                animation: google.maps.Animation.DROP,
                icon: "{% static 'skull.png'%}"
              });
              markersHouse.push(marker);
              //加上點擊事件與資訊視窗
              var infowindow = new google.maps.InfoWindow({
                content:'<strong>事件'+location.category+'</strong><br/>地點：'+location.address+'<br/><a href="'+location.website+'">點我觀看詳情</a>'
              });
            }

            //交通事故執行區塊
            if(num==1){
              var marker = new google.maps.Marker({
                map: map,
                position: results[0].geometry.location,
                animation: google.maps.Animation.DROP,
                icon: "{% static 'car.png'%}"
              });
              markersTraffic.push(marker);
              marker.setMap(null);
              //加上點擊事件與資訊視窗
              var infowindow = new google.maps.InfoWindow({
                content:'<strong>地點:'+location.address+'</strong><br/>時間：'+location.date+'<br/>交通事故類別：'+location.category
              });
            }

            marker.addListener('click',function(){
              check = check * -1;
              if(check > 0){
                infowindow.open(map, marker);
              }else{
                infowindow.close();
              }
            });
          } else {
            console.log('Geocode was not successful');
          }
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVRA9wbRv6YFZpIYcsdTmcWr0Xeqgap2A&callback=initMap"
      async defer>
    </script>

  </body>
</html>
